.projects-container {
    background-color: #282A27;
    height: 1000px;
    border-radius: 25px;
}

.title {
    padding-top: 10vh;
    padding-left: 15vh;
    font-size: 8vh;
    font-weight: 800;
}