.projects-container {
    padding-top: 5vh;
    padding-left: 15vh;
    padding-right: 15vh;
    background-color: #ffffffe0;
    height: 100vh;
    color: #614b3d;
}

.title {
    font-size: 8vh;
    font-weight: 800;
    color: #614b3d;
}

.projects {
    display: flex;
    flex-direction: column;
}