.herocontainer{
    background-color: #7C8964;
    height: 105vh;
}

.hero {
    display: flex;
    align-items: center;
}

.leftside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftside img {
    border-radius: 50%;
    height: 18vw;
    margin: 150px;
}

.rightside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vw;
}

.name {
    font-size: 8vw;
    margin-bottom: 0;
}

.subtext {
    font-size: 3vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
}