.hero {
    display: flex;
    align-items: center;
}

.leftside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftside img {
    border-radius: 50%;
    height: 20rem;
    margin: 150px;
}

.rightside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:end;
    padding-right: 10rem;
    line-height: 0;
}

.name {
    font-size: 10rem;
    color: #7C8964;
}

.subtext {
    font-size: 3rem;
}